{% extends 'base.html' %}

{% block page_title %}Create Bookmark{% endblock %}

<script type="text/javascript">
    var startTime = new Date();        //Start the clock!
    window.onbeforeunload = function()        //When the user leaves the page(closes the window/tab, clicks a link)...
    {
        var endTime = new Date();        //Get the current time.
        var timeSpent=(endTime - startTime);        //Find out how long it's been. 
        alert(timeSpent);        //Pop up a window with the time spent in microseconds.
    }
</script>


{% block content %}

    <h2>Hi {{ user }}! Let's Create Bookmark(let)! </h2>
    
    {% if errors %}<font color="00CC00">{{ errors }}</font>{% endif %}
    
    <form action="{% url 'core:bookmarklet_create'%}" method="post">{% csrf_token %}
        {{ form.as_p }}<br>
        <input type="submit" value="Create">
    </form>

{% endblock %}