{% extends 'base.html' %}

{% block page_title %}{{ collection.name }} Collection{% endblock %}
{% block css %}
<link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}

<div id="home_contents_area">
<!--Main Contents -->
 　  <div id="collection_title">

        <h3> <a href="{% url 'core:home' %}">Home</a></h3>
        <p>{{ collection.name }}</p>
        <a href="{% url "core:collection_create" %}">Create a new Collection</a>      

    </div>
    <div id="bookmark_list">  
      {% if collection.bookmark_set.all %}
  
          <p>Your bookmarks in this collection..!</p>
  
          <ul>
          {% for bookmark in collection.bookmark_set.all %}
          <li><a href="{%url 'core:bookmark_viewhtml' bookmark.id %}">{{ bookmark.name }}</a></li>
          {% endfor %}  
          </ul>
  
      {% else %}

      You have no bookmarks in this collection. Why not <a href="{% url 'core:bookmark_create' %}">add one</a>?<br>

      {% endif %}

      <p>
      Want to <a href="{% url 'core:collection_edit' collection.id %}">edit this collection</a> or <a href="{% url 'core:bookmark_create' %}">add a new bookmark</a>?
      </p>
    </div>
{% endblock %}