{% extends 'base.html' %}

{% block page_title %}Home of {{ user }}{% endblock %}

{% block top-links %}
    
      [Manage <a href="#">Collections</a> : <a href="#">Bookmarks</a> ] <a href="/accounts/logout/">Logout</a>

{% endblock %}

{% block content %}
  
  <h3>Hey {{ user }}, welcome to your home view.</h3>
  
  {% if user_collections %}
  
  <b>Here are your collections:</b><br>  
  <ul>
      {% for collection in user_collections %}
        <li><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a> (bookmarks: {{ collection.bookmark_count }})</li>
      {% endfor %}
  </ul>
  
  <a href="{% url "core:collection_create" %}">Create a new Collection</a>
    
  {% else %}

    You don't have any collections yet. Why not <a href="{% url "core:collection_create" %}">create one?</a>

  {% endif %}
    
{% endblock %}